<div>
    <nav class="navbar navbar-expand-lg navBar py-3">
        <span class="titleBar"><a>
           </a></span>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul id="menu_levels" class="menu__box">
<!--                <li><a class="menu__item" ></a></li>-->
<!--                <li><a class="menu__item" ></a></li>-->
<!--                <li><a class="menu__item" ></a></li>-->
<!--                <li><a class="menu__item" ></a></li>-->
<!--                <li><a class="menu__item" ></a></li>-->
<!--                <li><a class="menu__item" ></a></li>-->
<!--                <li><a class="menu__item" ></a></li>-->
<!--                <li><a class="menu__item" ></a></li>-->
<!--                <li><a class="img__item " ><img src="res/img/tracker.png"  height="60" width="60" class="logo"></a></li>-->
            </ul>
        </div>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0"></ul>
        <div class="level-container">
            <div id="numberOflevel" class="numberLevel col d-flex justify-content-center"></div>
            <div class="progress-bar" data-progress="0"></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person info" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
        </svg>
        <div class="dropdown">
            <a class="dropdown-toggle dropUser" style="padding-right: 30px" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="nickname"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item clickInscrire" onclick="navigate('update.user')">Mon profil</a></li>
                <li class="nav-item">
                    <a id='logout' class="nav-link clickDrop t" onclick="LoginController.logOut()">Se déconnecter</a>
                </li>
            </ul>
        </div>
        <div id="dark-mode"></div>
        <div class="d-flex">
            <div class="form-check form-switch ms-auto mt-3 me-3">
                <label class="form-check-label ms-3" for="lightSwitch">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="35"
                            height="35"
                            fill="currentColor"
                            class="bi bi-brightness-high"
                            viewBox="0 0 16 16">
                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                        />
                    </svg>
                </label>
                <input
                        onclick="HomePageController.toggleDarkMode()"
                        class="form-check-input"
                        type="checkbox"
                        id="lightSwitch"/>
            </div>
        </div>

        <!--        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-moon info" viewBox="0 0 16 16">-->
<!--            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>-->
<!--        </svg>-->
    </nav>
</div>

<div>
    <h3 class="col d-flex justify-content-center font weekTitle" id="titleWeek"></h3>
</div>
<div id="catchError"></div>
<div id="loginAlert"></div>
<div id="alertLevel"></div>
<div id="lastLevel"></div>
<div id="cardTask"></div>
<div class="next">
    <button type="button" id="nextLevel" class="btn navBar nextLevel" onclick="HomePageController.nextLevel()">Prochain niveau</button>
    <button id="bonus" type="button" class="btn navBar nextLevel disabled" onclick="HomePageController.buttonPageBonus()">Bonus</button>
</div>
<div class="nextC">
    <button type="button" class="btn navBar clendr" id="calendarButton" onclick="navigate('calendar')">Calendrier</button>
</div>

