<div>
    <nav class="navbar navbar-expand-lg navBar">
        <span class="titleBar"><a>
           </a></span>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul id="menu_levels" class="menu__box">
            </ul>
        </div>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0"></ul>
        <div class="level-container">
            <div id="numberOflevel" class="numberLevel col d-flex justify-content-center"></div>
            <div class="progress-bar" data-progress="0"></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person info" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
        </svg>
        <div class="dropdown">
            <a class="dropdown-toggle dropUser" style="padding-right: 30px" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="nickname"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item clickInscrire" onclick="navigate('update.user')">Mon profil</a></li>
                <li class="nav-item">
                    <a id='logout' class="nav-link clickDrop t" onclick="LoginController.logOut()">Se déconnecter</a>
                </li>
            </ul>
        </div>
        <button type="button" id="infoButton" class="infoModal btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle"
                 viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font" id="exampleModalLabel">Instruction de Tracker</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>L'application comporte 8 niveaux.</li>
                            <li>Il y a 7 tâches disponibles pour chaque niveau.</li>
                            <li>Vous ne pouvez pas consacrer moins d'une minute à la réalisation d'une tâche.</li>
                            <li>Vous ne pouvez accéder au niveau suivant que si toutes les tâches du niveau ont été accomplies.</li>
                            <li>Si vous avez débloqué le niveau 8, vous avez accès au niveau "Bonus" et le bouton "Prochain niveau" n'est plus disponible.</li>
                            <li>Vous pouvez suivre votre progression en utilisant le menu de la page d'accueil.</li>
                            <li>Pour gérer vos tâches, vous pouvez utiliser le calendrier où vous pouvez ajouter/modifier/supprimer un événement.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</div>
<div>
    <h3 class="col d-flex justify-content-center font weekTitle" id="titleWeek"></h3>
</div>
<div id="catchError"></div>
<div id="loginAlert"></div>
<div id="alertLevel"></div>
<div id="lastLevel"></div>
<div id="cardTask"></div>
<div class="next">
    <button type="button" id="nextLevel" class="btn navBar nextLevel" onclick="HomePageController.nextLevel()">Prochain niveau</button>
    <button id="bonus" type="button" class="btn navBar nextLevel disabled" onclick="HomePageController.buttonPageBonus()">Bonus</button>
</div>
<div class="nextC">
    <button type="button" class="btn navBar clendr" id="calendarButton" onclick="navigate('calendar')">Calendrier</button>
</div>

