<div>
    <nav class="navbar navBar">
        <span class="titleBar"> <a>
            <img src="res/img/tracker.png"  height="55" width="55" class="logo"></a>Tracker BH</span>
        <button type="button" id="infoButton" class="infoModal btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font" id="exampleModalLabel">Instruction de Tracker</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>L'application comporte 8 niveaux.</li>
                            <li>Il y a 7 tâches disponibles pour chaque niveau.</li>
                            <li>Vous ne pouvez pas consacrer moins d'une minute à la réalisation d'une tâche.</li>
                            <li>Vous ne pouvez accéder au niveau suivant que si toutes les tâches du niveau ont été accomplies.</li>
                            <li>Si vous avez débloqué le niveau 8, vous avez accès au niveau "Bonus" et le bouton "Prochain niveau" n'est plus disponible.</li>
                            <li>Vous pouvez suivre votre progression en utilisant le menu de la page d'accueil.</li>
                            <li>Pour gérer vos tâches, vous pouvez utiliser le calendrier où vous pouvez ajouter/modifier/supprimer un événement.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div id="alertEmail"></div>
<div id="alertError"></div>
<div id="alertOkay"></div>
<div class="col d-flex justify-content-center mt-2">
    <div class="card cardInscrire">
        <div class="card-body">
            <div class="row fontInput">
                <div class="textcard">
                    <h3>Modification de votre compte</h3>
                </div>
                <div>
                    <div class="form-group inputCompte">
                        <i class="fa-solid fa-pen-to-square" style="color: rgba(47,47,49,0.93);"></i>
                        <label for="name">Prénom</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Votre Prenom">
                        <div id="validName"></div>
                    </div>
                    <div class="form-group inputCompte">
                        <i class="fa-solid fa-pen-to-square" style="color: rgba(47,47,49,0.93);"></i>
                        <label for="lastname">Nom</label>
                        <input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="Votre Nom">
                        <div id="validLastName"></div>
                    </div>
                    <div class="form-group inputCompte">
                        <i class="fa-solid fa-pen-to-square" style="color: rgba(47,47,49,0.93);"></i>
                        <label for="nickname">Pseudonyme</label>
                        <input type="nickname" class="form-control" id="nickname" aria-describedby="nickname" placeholder="Votre pseudo">
                        <div id="validNick"></div>
                    </div>
                    <div class="form-group inputCompte">
                        <i class="fa-solid fa-cake-candles" style="color: rgba(47,47,49,0.93);"></i>
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" aria-describedby="age" placeholder="Votre age">
                        <div id="validAge"></div>
                    </div>
                    <div class="form-group inputCompte">
                        <i class="fa-solid fa-envelope" style="color: rgba(47,47,49,0.93);"></i>
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Votre email">
                        <div id="validEmail"></div>
                    </div>
                    <div class="form-group inputCompte">
                        <i class="fa-solid fa-key" style="color: rgba(47,47,49,0.93);"></i>
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                        <div id="validPassword"></div>
                    </div>
                    <div class="form-group inputCompte">
                        <i class="fa-solid fa-key" style="color: rgba(47,47,49,0.93);"></i>
                        <label for="password1">Confirmation de mot de passe</label>
                        <input type="password" class="form-control" id="password1" placeholder="Mot de passe">
                        <div id="validPasswordConfirm"></div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button onclick="UpdateUserController.updateProfile()" type="submit" class="btn navBar create">Modifier votre compte</button>
                        <button onclick="navigate('homePage')" type="submit" style="margin-left: 10px" class="btn navBar create" >Retour au page
                            d'accueil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both; height: 60px"></div>
<footer class="fixed-bottom navBar">
    <div class="container p-2 ">
        <div class="row">
            <div class="mb-4 mb-md-0">
                <h5 class="titleBar"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg><a style="color: honeydew" href="https://github.com/ProjetEsimedJs/Tracker">GitHub</a></h5>
            </div>
        </div>
    </div>
</footer>